*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.idea
[Bb]in
[Db]ebug*/
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
*.suo
rebel.config
Plugins\**.dll
*.vs10x
*.orig
*/App_Data/Logs/*
*/App_Data/ClientDependency/*
*/App_Data/Rebel.sdf
*.DS_Store
*/Plugins/Packages/*
*/App_Data/Examine/*
