<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="RavenDbConnectionString" connectionString="Url = http://ravendb.local:8080/databases/japan" />
  </connectionStrings>
    <appSettings>
        <add key="Database" value="dev.japan.local"/>
        <add key="User" value="sqluser"/>
        <add key="Password" value="password"/>
    </appSettings>
</configuration>